@tailwind base;
@tailwind components;

@layer components {
  .clip-circle-center {
    clip-path: circle(50% at 50% 50%);
  }
}

@tailwind utilities;

@font-face {
  font-family: 'Major Mono Display';
  src: url('/fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Major Mono Display', monospace;
}

body {
  background: #FFFFFF;
  background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);

  @media (prefers-color-scheme: dark) {
    background: #000000;
    background: linear-gradient(7deg,rgba(0, 0, 0, 1) 0%, rgba(107, 107, 107, 1) 100%);
  }
}
