---
import CvModal from './CvModal.astro';
import ContactModal from './ContactModal.astro';
---
<section class="container mx-auto px-4 min-h-screen flex flex-col justify-center items-center" aria-labelledby="hero-title">
	<header class="text-center mb-16">
			<h1 id="hero-title" class="text-6xl md:text-7xl lg:text-8xl font-light tracking-wider mb-8 font-['Major_Mono_Display']">
					<span class="text-black dark:text-white">Carlos</span>
					<span class="text-black dark:text-white">Pando</span>
			</h1>
	</header>

	<nav class="flex flex-col sm:flex-row gap-4 mb-16" aria-label="Enlaces sociales y contacto">
		<a href="https://www.linkedin.com/in/carlos-pando-54786218a/" target="_blank" class="border-2 border-black dark:border-white text-black dark:text-white px-8 py-3 text-md font-medium tracking-wide hover:bg-black dark:hover:bg-white hover:text-white dark:hover:text-black transition-all duration-300 flex items-center justify-center gap-2">
			<span class="icon-[mdi--linkedin] text-2xl"></span>
			linkedin
		</a>
		<a href="https://github.com/carlos485" target="_blank" class="bg-black dark:bg-white text-white hover:bg-gray-800 dark:text-black dark:hover:bg-gray-200 px-8 py-3 text-md font-medium tracking-wide transition-all duration-300 flex items-center justify-center gap-2 cursor-pointer">
			<span class="icon-[mdi--github] text-2xl"></span>
			github
		</a>
		<button id="open-contact-button" class="border-2 border-black dark:border-white text-black dark:text-white px-8 py-3 text-md font-medium tracking-wide hover:bg-black dark:hover:bg-white hover:text-white dark:hover:text-black transition-all duration-300 flex items-center justify-center gap-2">
			<span class="icon-[mi--email]"></span>
			contactar
		</button>
	</nav>

	<div class="flex flex-col sm:flex-row gap-4">
			<button id="open-cv-button" class="bg-black dark:bg-white text-white hover:bg-gray-800 dark:text-black dark:hover:bg-gray-200 px-8 py-3 text-xl font-medium tracking-wide transition-all duration-300 flex items-center justify-center gap-2 cursor-pointer">
					<span class="icon-[streamline--business-user-curriculum] text-2xl"></span>
					ver cv
			</button>

			<button data-scroll-to="experience" class="border-2 border-black dark:border-white text-black dark:text-white px-8 py-3 text-xl font-medium tracking-wide hover:bg-black dark:hover:bg-white hover:text-white dark:hover:text-black transition-all duration-300 flex items-center justify-center gap-2">
					<span class="icon-[fe--timeline] text-3xl"></span>
					experiencia
			</button>
	</div>
</section>

<CvModal />
<ContactModal />
